flask
Flask-Script
flask_sockets
gunicorn
cassandra-driver
google-api-python-client
ecdsa
daemonize
websocket-client
pyzmq
fabric
pyyaml
supervisor
pexpect
blist
superlance
requests
psutil
flask-scrypt
selenium
Pillow

rsa>=4.1 # not directly required, pinned by Snyk to avoid a vulnerability